<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    Company Name
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/fetch">
                        <i class="ti-email"></i>
                        <p>Fetch Reviews</p>
                    </a>
                </li>
                <li>
                    <a href="/templates">
                        <i class="ti-layout"></i>
                        <p>Manage Templates</p>
                    </a>
                </li>
                <li  class="active">
                    <a href="#">
                        <i class="ti-view-list-alt"></i>
                        <p>Contact List</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-write"></i>
                        <p>Import Contacts</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand">Contact List</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/fetch">
                                <i class="ti-star"></i>
								<p>Fetch Reviews</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="/settings">
								<i class="ti-settings"></i>
								<p>Profile</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <!-- Button Row -->
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 2rem;">
                        <button class="btn btn-primary btn-lg btn-fill" data-toggle="modal" data-target="#newContactModal">Add New Contact</button>
                    </div>
                </div>
                <!-- END Button Row -->
                <!-- Table Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Contacts</h4>
                                <p class="category">Full list of your contacts</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-stripeds">
                                    <thead>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th>Active</th>
                                    </thead>
                                    <tbody>
                                        {{#each contacts}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this.email}}</td>
                                                <td>{{#if this.gender}}
                                                    Male
                                                {{else}}
                                                    Female
                                                {{/if}}</td>
                                                <td>{{this.phone}}</td>
                                                <td>{{#ifeq this.status 0}}
                                                    Not Sent
                                                {{else ifeq this.status 1}}
                                                    Sent
                                                {{else}}
                                                    Replied
                                                {{/ifeq}}</td>
                                                <td>{{#if this.active}}
                                                    Yes
                                                {{else}}
                                                    No
                                                {{/if}}</td>
                                                <td><div class="edit-contact btn" id="editContact{{this.id}}" value={{this.id}} data-toggle="modal" data-target="#editContactModal">Edit</div></td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END Table Row -->
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Review Fetch
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Review Fetch</a>
                </div>
            </div>
        </footer>

    </div>
</div>

<!-- New Contact Modal -->
<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog" aria-labelledby="newContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newContactModalLabel">New Contact</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="new-contact-email">Email address</label>
                        <input id="new-contact-email" type="email" class="form-control border-input" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="new-contact-firstname" type="text" class="form-control border-input" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="new-contact-lastname" type="text" class="form-control border-input" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <select id="new-contact-gender" class="form-control border-input">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="none">No Answer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input id="new-contact-phone" type="text" class="form-control border-input" placeholder="(xxx)-xxx-xxxx">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
            <button id="new-contact-addbtn" type="button" class="btn btn-default btn-simple" data-dismiss="modal">Add Contact</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Never mind</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END New Contact Modal -->

<!-- Edit Contact Modal -->
<div class="modal fade" id="editContactModal" tabindex="-1" role="dialog" aria-labelledby="editContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editContactModalLabel">Edit Contact</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="checkbox" for="activeCheckbox">
                            <input type="checkbox" id="activeCheckbox" data-toggle="checkbox">
                            Active
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       <label>Email Sent</label>
                        <select id="edit-contact-status" class="form-control border-input">
                          <option value="0">Not Sent</option>
                          <option value="1">Sent</option>
                          <option value="2">Replied</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="edit-contact-email">Email address</label>
                        <input id="edit-contact-email" type="email" class="form-control border-input" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="edit-contact-firstname" type="text" class="form-control border-input" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="edit-contact-lastname" type="text" class="form-control border-input" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <select id="edit-contact-gender" class="form-control border-input">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="none">No Answer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input id="edit-contact-phone" type="text" class="form-control border-input" placeholder="(xxx)-xxx-xxxx">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
            <button id="edit-contact-btn" type="button" class="btn btn-default btn-simple" data-dismiss="modal">Save Changes</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Never mind</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Edit Contact Modal -->

<!-- Contact page methods -->
<script src="assets/js/contact-functions.js"></script>