<div class="wrapper">
<div class="content">
    <div class="container-fluid">
        <div class="row">
          <h1 class="text-center">Thank you for your support!</h1>
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="header">
                        <h2 class="title">Please Select Your Preferred Feedback Platform</h2>
                        <hr>
                    </div>
                    <div id="positive-review" data-contact="{{contact_id}}" class="content align-middle">
                         <div class="row">
                            <div class="col-xs-4">
                            <a {{#if google}} href="{{google}}" class="btn review-link" {{else}} href="#" style="cursor: default;" {{/if}} rel="noopener">
                              <label style="display: block;"><b>Google</b></label>
                               <div class="img-thumbnail">
                                  <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" alt="Google Image" class="img-responsive" style="height: 300px;">
                               </div>
                            </a>
                            </div>
                            <div class="col-xs-4">
                            <a {{#if bbb}} href="{{bbb}}" class="btn review-link" {{else}} href="#" style="cursor: default;" {{/if}} rel="noopener">
                              <label style="display: block;"><b>BBB</b></label>
                               <div class="img-thumbnail">
                                  <img src="https://cdn.worldvectorlogo.com/logos/better-business-bureau-1.svg" alt="BBB Image" class="img-responsive" style="height: 300px;">
                               </div>
                            </a>
                            </div>
                            <div class="col-xs-4">
                            <a {{#if yelp}} href="{{yelp}}" class="btn review-link" {{else}} href="#" style="cursor: default;" {{/if}} rel="noopener">
                              <label style="display: block;"><b>Yelp</b></label>
                               <div class="img-thumbnail">
                                  <img src="https://cdn.worldvectorlogo.com/logos/yelp-icon.svg" alt="Yelp Image" class="img-responsive" style="height: 300px;">
                               </div>
                            </a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="/">
                                Review Fetch
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               About
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Review Fetch</a>
                </div>
            </div>
        </footer>
</div>

<!-- Review page methods -->
<script type="text/javascript">
  // Check if this user has already left a review and if not then initialize its status
  $.get("/api/fetch_contact_data/" + $("#positive-review").attr("data-contact"))
  .done(function(res) {
    if(res.status != 2) {
      // Since Contact opened the link from the email
      // We update Contact's status to 3 (3: the contact opened but did not leave a review)
      $.post("/api/fetch_contact_data/update", 
      {
        id: $("#positive-review").attr("data-contact"),
        status: 3
      });
    }
  });

  // Attach a click listener to the links that exists
  $(".review-link").on("click", function() {
    // Since an external link for review was clicked,
    // we update the Contact's status to 2 (2: the contact submitted a review)
    $.post("/api/fetch_contact_data/update", 
    {
      id: $("#positive-review").attr("data-contact"),
      status: 2
    });
  })
</script>